[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  for = "/*"
  [headers.values]
    Strict-Transport-Security = "max-age=31536000; includeSubDomains"
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"

[stackbit]
  containerCommand = "npm run dev"
  staticDir = "dist"
  uploadDir = "public/images"
  buildCommand = "npm run build"
  devCommand = "npm run dev"

[git]
  repo = "viktorlinus/jakeallenWebsite"
  branch = "main"
  auth = true
